extends layout

block content
  h2 새 게시글 작성
  form(action='/create', method='post')
    .form-group
      label(for='title') 제목
      input(type='text', id='title', name='title', required=true)
    .form-group
      label(for='content') 내용
      textarea(id='content', name='content', required=true)
    .actions
      button(type='submit', class='btn') 작성